.background-fade {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;

    &--fixed {
        position: fixed;
    }

    &--absolute {
        position: absolute;
    }

    > div {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        background: transparent center/cover no-repeat;

        &:first-child {
            z-index: 1;
        }
    }
}

.nerdcel-fade-leave-active {
    transition: all 1s ease;
}

.nerdcel-fade-enter-active {
    transition: all 1s ease;
}

.nerdcel-fade-enter, .nerdcel-fade-leave-to {
    opacity: 0;
}
