<template>
  <div class="background-fade"
       :class="{
         'background-fade--fixed': mode === 'fixed',
         'background-fade--absolute': mode === 'absolute'
        }">
    <transition :name="'nerdcel-' + transition"
                @after-enter="afterEnter"
                @after-leave="afterLeave"
    >
      <div v-show="showImage" :style="{ 'background-image': 'url(' + backgroundImage + ')' }"></div>
    </transition>
    <div :style="{ 'background-image': 'url(' + nextImage + ')' }"></div>
  </div>
</template>

<script>
import '../style/index.scss';
import { shuffle } from '../helpers';

export default {
  name: 'BackgroundFade',

  data() {
    return {
      nextImage: null,
      shuffledImages: [],
      showImage: false,
      index: 0,
    };
  },

  props: {
    mode: {
      type: String,
      default: 'fixed',
      validator(val) {
        return val.indexOf(['fixed', 'absolute']);
      },
    },

    transition: {
      type: String,
      default: 'fade',
    },

    images: {
      type: Array,
      default: () => [],
      required: true,
    },

    interval: {
      type: Number,
      default: 10000,
    },
  },

  computed: {
    backgroundImage() {
      return this.backgroundImages[this.index];
    },

    range() {
      return this.backgroundImages.length;
    },

    backgroundImages() {
      return this.shuffledImages.flat();
    },

    position() {
      return this.index >= this.images.length ? 'end' : 'start';
    },
  },

  created() {
    this.showImage = true;
    this.shuffle();
    this.nextImage = this.backgroundImage;
  },

  mounted() {
    setInterval(() => {
      this.showImage = false;
    }, this.interval);
  },

  methods: {
    increment(index, range) {
      const length = typeof range.length !== 'undefined' ? range.length : parseInt(range, 10);
      return index + 1 >= length ? 0 : index + 1;
    },

    shuffle() {
      this.shuffledImages = [[...shuffle(this.images)], [...shuffle(this.images)]];
    },

    reshuffle(val) {
      if (val === 'end') {
        this.shuffledImages = [[...shuffle(this.images)], [...this.shuffledImages[1]]];
        return;
      }

      this.shuffledImages = [[...this.shuffledImages[0]], [...shuffle(this.images)]];
    },

    setNext() {
      this.index = this.increment(this.index, this.range);

      this.$nextTick(() => {
        this.showImage = true;
      });
    },

    setPreview() {
      this.nextImage = this.getPreviewImage();
    },

    getPreviewImage() {
      const index = this.increment(this.index, this.range);
      return this.backgroundImages[index];
    },

    afterEnter() {
      this.setPreview();
    },
    afterLeave() {
      this.setNext();
    },
  },

  watch: {
    position(val) {
      this.reshuffle(val);
    },
  },
};
</script>
