<template>
  <section id="app">
    <background-fade transition="fade"
                     :images="[
                        'http://lorempixel.com/g/1024/768/cats/1/',
                        'http://lorempixel.com/g/1024/768/cats/2/',
                        'http://lorempixel.com/g/1024/768/cats/3/',
                        'http://lorempixel.com/g/1024/768/cats/4/',
                     ]"
                     :interval="7000"
    ></background-fade>
  </section>
</template>

<script>
export default {
  name: 'Demo',

  data() {
    return {

    };
  },
};
</script>
